{{#each data.data}}
  <tr>
    <td>{{businessName}}</td>
    <td>{{buyerName}}</td>
    <td>{{#equals status 0}}待审批{{/equals}}{{#equals status 1}}审批通过{{/equals}}{{#equals status "-2"}}审批不通过{{/equals}}</td>
    <td>{{formatDate createdAt}}</td>
    <td>
      {{#equals status 0}}
        <button class="btn btn-primary js-confirm" data-id="{{id}}" data-status="1">审核通过</button>
        <button class="btn btn-danger js-confirm" data-id="{{id}}" data-status="-2">审核不通过</button>
      {{/equals}}
    </td>
  </tr>
{{/each}}
